div.comment-display {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

div.comment-block {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    padding: .5rem;
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 3px;
}

.comment-username {
    font-weight: bold;
}