.video-cards {
    width: 200px;
}

a {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 8px;
}

.card-text {
    font-size: 15px;
    align-self: center;
    padding-right: 1rem;
    max-height: 10rem;
    margin-bottom: 1rem;
}

img {
    max-width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.555), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }